body {
  margin:0;
  padding:0;
  background:gainsboro;
}

div {
  font-family: Montserrat;
  font-size: 100%;
  padding: 3px;
  color: #444;
  background: whitesmoke;
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline;
}

#copyright {
  background:#444;
  color:white;
  font-size:60%;
  padding:10px;
}

.fade-in {
  opacity:0;

  -webkit-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.fade-in.two {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.three {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}
