body {
  margin:0;
  padding:0;
  background:whitesmoke;
}

button.hidden {
  font-family: Montserrat;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

div {
  font-family: Montserrat;
  font-size: 100%;
  padding: 3px;
  color: #444;
  background: whitesmoke;
  margin: 0 auto;
  text-align: center;
}

input {
  text-align: center;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border:1px solid black;
  height:30px;
  width:40px;
  font-size:20px;
  font-family: Montserrat;
  text-transform: uppercase;
}

input:focus {
  outline: none;
}

li {
  display: inline;
}

ul {
 padding: 0;
}

#copyright {
  background:#444;
  color:white;
  font-size:60%;
  padding:10px;
}

#header {
  background: whitesmoke;
  color: inherit;
  padding:10px;
  text-align: left;
  font-size:60%;
}

.fade-in {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.75s;
}

.fade-in.one {
  animation-delay: 0s;
}

.fade-in.two {
  animation-delay: 0.5s;
}

.fade-in.three {
  animation-delay: 1.5s;
}

.hide {
  display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
