:root {
  --blue-color: rgb(10, 150, 170);
}

body {
  margin:0;
  padding:0;
  background:whitesmoke;
}

button.hidden {
  font-family: Montserrat;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

button.submit {
  background:#eee;
  border:1px solid black;
  height:30px;
  width:300px;
  outline:none;
  font-size:12px;
  font-family: Montserrat;
}

button.submit:hover {
  background:white;
  cursor:pointer;
  box-shadow: 0px 0px 5px rgb(220, 220, 220);
}

div {
  font-family: Montserrat;
  font-size: 100%;
  padding: 3px;
  color: #444;
  background: whitesmoke;
  margin: 0 auto;
  text-align: center;
}

input.access {
  text-align: center;
  border-radius: 9px;
  border:1px solid black;
  height:30px;
  width:40px;
  font-size:20px;
  font-family: Montserrat;
  text-transform: uppercase;
}

input.login {
  display:block;
  border:1px solid black;
  height:30px;
  margin:auto;
  margin-bottom: 10px;
  padding:10px;
  width:300px;
  font-size:15px;
  font-family: Montserrat;
}

input.login:focus {
  color:var(--blue-color);
  height:40px;
}

input:focus {
  outline: none;
}

li {
  display: inline;
}

ul {
 padding: 0;
}

.fade {
  display: none;
}

.header {
  color:var(--blue-color);
  background:rgb(230, 230, 230);
  padding:10px;
  border-bottom:1px solid gray;
}

.slide {
  display: none;
}

#access {
  display:none;
}

#copyright {
  background:#444;
  color:white;
  font-size:60%;
  padding:10px;
  display:none;
}

#header {
  background: whitesmoke;
  color: inherit;
  padding:10px;
  text-align: left;
  font-size:60%;
}
